{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="hero">
        <div class="info">
        <h1>Idea for your travel</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Voluptates nihil eius accusamus quaerat, quidem laborum dignissimos 
            natus reprehenderit? Ipsa alias repellendus inventore minus magnam 
            autem fugit ab delectus et aut.</p>
        </div>
       
        <div class="carousel__card" id="carousel">
            <button class="prev" id="btn__prev">
                <img src="/svg/arrow-left-square.svg" alt="prev" width="30">
            </button>
            <img class="image" src="/img/Mediterranean 1.jpg" width="700" alt="Cyprus">
            <div class="card-body">
                <h2 class="title">Amazing Cyprus</h2>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo minus distinctio dolores rem! Voluptas ullam, consectetur accusantium corrupti natus quisquam adipisci
                    ipsam et earum dolorem necessitatibus aut laudantium aperiam magnam?</p>
                <a href="#">More</a>
            </div>
            <button class="next" id="btn__next">
            <img src="/svg/arrow-right-square.svg" alt="next" width="30">
            </button>
            
        </div>
        
       
    </div>
    <div class="news__box">
        <div class="find__block">
            <iframe src="https://75609.unit.travel?refmid=157929" width="500" height="1000" frameborder="0"></iframe>
        </div>
        
        <div class="news__block">
            <div class="card">
                <img src="/img/Santa.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/Santa.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/NY.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/NY.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/NY.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/NY.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
        </div>
        
        
    </div>
     <div class="second">
       <h1>Рекомендовані готелі</h1>
    <div class="offer">
        <div class="offer__card">
            
            <div class="card">
               
                <img src="/img/Lokeanika aqua.jpg" alt="image">
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
                
                <img src="/img/Mediterranean 1.jpg" alt="image">
                
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
               
                <img src="/img/Lokeanika aqua.jpg" alt="image">
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
                
                <img src="/img/Mediterranean 1.jpg" alt="image">
                
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
               
                <img src="/img/Lokeanika aqua.jpg" alt="image">
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
                
                <img src="/img/Mediterranean 1.jpg" alt="image">
                
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
               
                <img src="/img/Lokeanika aqua.jpg" alt="image">
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
                
                <img src="/img/Mediterranean 1.jpg" alt="image">
                
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
               
                <img src="/img/Lokeanika aqua.jpg" alt="image">
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
               
                <img src="/img/Lokeanika aqua.jpg" alt="image">
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
                
                <img src="/img/Mediterranean 1.jpg" alt="image">
                
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
            <div class="card">
               
                <img src="/img/Lokeanika aqua.jpg" alt="image">
                <span class="badge rounded-pill bg-danger">Рекомендовано</span>
                <div class="card-body">
                    <h4>title</h4>
                    <p>description</p>
                </div>
                <button class="btn btn-primary">more</button>

            </div>
           
            
        </div>
        <div class="about">
            <h3>Про агенцію</h3>
            <h5>Агенція розпочала роботу в 2009 році, це була реалізація дитячої мрії про захоплюючі подорожі різними країнами.</h5>
            <p>На даний час ми працюємо онлайн, обслуговуючі клієнтів по всьому світу. Наша агенція входить в мережу агенцій ХО,
                яка налічує більше 250 агенцій по Україні.Нашій  команді пощастило побувати в багатьох дивовижних країнах на різних континентах і ми
                можемо пишатися багаторічним практичним досвідом у туристичній індустрії. Прагнучи до досконалості, надаємо клієнтам високоякісні
                подорожі та найкращі враження від подорожей за розумними цінами. Завдяки часу, проведеному за кордоном, чітко розуміємо усі вимоги
                сучасного мандрівника. Наші спеціалісти дайвили в Египті, рафтили в Туреччині, проводили дегустації він на Кипрі та сангрії в Іспанії,
                літали на гвинтокрилі над Пунта-Каною, бачили сеноти та Ізраїль. І все це задля того, щоб розказати про все це Вам, наші друзі!
            </p>
            <div class="img">
                <img src="/img/tossa frame.jpg" width="150" alt="">
                <img src="/img/sharm.jpg" width="150" alt="">
                <img src="/img/page-2.jpeg" width="150" alt="">
                <img src="/img/raft turkiey.jpg" width="150" alt="">
                <img src="/img/uae.png" width="150" alt="">
                <img src="/img/wave Loret.jpg" width="150" alt="">
                <img src="/img/raft turkiey.jpg" width="150" alt="">
                <img src="/img/uae.png" width="150" alt="">
                <img src="/img/wave Loret.jpg" width="150" alt="">
            </div>
            
        </div>
    </div>  
    </div>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}