{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="hero">
        <div class="info">
        <h1>Idea for your travel</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Voluptates nihil eius accusamus quaerat, quidem laborum dignissimos 
            natus reprehenderit? Ipsa alias repellendus inventore minus magnam 
            autem fugit ab delectus et aut.</p>
        </div>
       
        <div class="carousel__card" id="carousel">
            <button class="prev" id="btn__prev">
                <img src="/svg/arrow-left-square.svg" alt="prev" width="20">
            </button>
            <img class="image" src="/img/Mediterranean 1.jpg" width="700" alt="Cyprus">
            <div class="card-body">
                <h2 class="title">Amazing Cyprus</h2>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo minus distinctio dolores rem! Voluptas ullam, consectetur accusantium corrupti natus quisquam adipisci
                    ipsam et earum dolorem necessitatibus aut laudantium aperiam magnam?</p>
                <a href="#">More</a>
            </div>
            <button class="next" id="btn__next">
            <img src="/svg/arrow-right-square.svg" alt="next" width="20">
            </button>
            
        </div>
        
       
    </div>
    <div class="news__box">
        <div class="find__block">
            <iframe src="https://75609.unit.travel?refmid=157929" width="500" height="1000" frameborder="0"></iframe>
        </div>
        
        <div class="news__block">
            <div class="card">
                <img src="/img/Santa.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/Santa.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/NY.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/NY.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/NY.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
            <div class="card">
                <img src="/img/NY.jpg" alt="news">
                <div class="card-body">
                    <h3 class="title">Its miracle</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore excepturi consequuntur, repellendus tempore ratione, eligendi,
                            provident accusantium aperiam hic beatae optio? Ipsa,
                            veritatis ratione accusantium repellat quo dignissimos libero reiciendis.</p>
                </div>
            </div>
        </div>
        
        
    </div>

</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}