$colorMap: (
	light: #ddd,
	border: #9fbad4,
	dark: #121212,
	grey: #868686,
	main: blue,
	back: rgb(1, 190, 1),
	dang: rgb(216, 80, 80),
);

@function color ($key) {
	@return map-get($colorMap, $key);
}