<section class="header">
    <div class="header__block">
        <div class="info">
            <h4>Перша Туристична Агенція</h4>
            <p>Агенція мережі туристичних агенцій "ХО"</p>
        </div>
        
        <div class="header__link">
            <a href="/">Головна сторінка</a>
            <a href="/">Пропозиції</a>
            <a href="/">Про агенцїю</a>
        </div>
        <div class="contact__media">
            <div class="contact">
                <a href="/">+380955770413</a>
                <a href="/">pta-tour@ukr.net</a>
            </div>
            <div class="media">
                <img src="/svg/insta.svg" alt="instagram">
                <img src="/svg/telegram.svg" alt="telegram">
            </div>
        </div>
            
            
    </div>
</section>